## .NET / Visual Studio
bin/
obj/
*.user
.vs/
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
*.iml

## Publish output
publish/
*.pubxml.user

## OS junk
Thumbs.db
.DS_Store

.vscode/
